/pruebas
.env
/data/morbilidad/anterior
/notebooks/chromedriver.exe
/notebooks/eurostats_descartado.ipynb
/notebooks/.ipynb_checkpoints
/notebooks/selenium
/data/eurostats_descartado
/sql_data
/notebooks/escrapeo_ambientales_descartado.ipynb
/src/__pycache__
/pages/__pycache__
/notebooks/visualizaciones_varias.ipynb
__pycache__
.ipynb_checkpoints
/pages/__pycache__

/kepler/.ipynb_checkpoints
/.ipynb_checkpoints
/__pycache__
/images/giphy (1).gif
/notebooks/.ipynb_checkpoints
/data/.~lock.diagnos.csv#
/images/photothumb.db
/notebooks/10_foursquare.ipynb
/kepler_inento


