/pruebas
.env
/data/morbilidad/anterior
/notebooks/chromedriver.exe
/notebooks/eurostats_descartado.ipynb
/notebooks/.ipynb_checkpoints
/notebooks/selenium
/data/eurostats_descartado
/sql_data
/notebooks/escrapeo_ambientales_descartado.ipynb
/src/__pycache__